body {
    background-color: #1a1a1a;
    color: #e3dbe2;
    font-family: Verdana, sans-serif;
}

a {
    color: hsla(180, 100%, 50%, 0.5);
}

hr {
    color: #e3dbe2;
}

#logo {
    display: inline-block;
    width: 256px;
}


.login-box {
    float: right;
}

.button {
    margin: 10px 5px;
}

.small-gallery {
    display: flex;
    justify-content: space-between
}

.gallery-element {
    width: 33%;
    height: 33%;
}

h2 {
    text-shadow: 2px 2px rgba(170, 0, 136, 0.48);
}

.centered-text {
    text-align: center;
}

.top-artists table {
    width: 100%;
    text-align: center;
    border: groove;
    border-width: thick;
    border-color: #e3dbe2;
}

.promotion {
    text-align: center;
    font-size: 2em;
    margin-top: 50px;
}

.bottom-footer {
    font-size: 10px;
}

.image-box {
    font-size: small;
}

.image-box img {
    width: 200px;
    height: 200px;
}

.description {
    margin-left: 5%;
    margin-right: 5%;
    display: inline-block;
}

.description-header {
    float: left;
    width: 45%;
    font-size: 230%;
    text-align: right;
    color: plum;
}

.functionality-list {
    float: left;
    font-size: 200%;
    margin-left: 5%;
    color: #e3dbe2;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1a1a1a;
}

.menu li {
    float: left;
}

.menu li a, dropbtn {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu li a:hover, .dropbtn:hover .dropbtn {
    background-color: #aa0088;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1a1a1a;
    min-width: 160px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.menu .active {
    background-color: #aa0088;
}

.picture-show {
    margin: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #aa0088;
    float: left;
    width: 32%;
    box-shadow: 0px 0px 10px #aa0088;
}

.picture-show img {
    width: 100%;
    height: auto;
}

.picture-show .note {
    padding: 15px;
    text-align: center;
}

mark {
    background-color: plum;
}

.sitemap {
    text-align: center;
    font-size: 18pt;
}

.sitemap aside {
    font-size: xx-large;
}

.about-page .main-content{
    background-image: url("images/background-texture.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
}

.contact-page .mail-to{
    background-image: url("images/smile.svg");
    background-position: right;
    background-repeat: no-repeat;
}

.top-artists h1{
    position: static;
    line-height: 50px;
    font-variant: small-caps;
    font-weight: lighter;
}

.main-footer img{
    height: 25px;
    width: 25px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    border: transparent;
}

.main-footer{
    position: relative;
    bottom: 0;
}

a[id="register-link"]{
    text-decoration: none;
}

@media only screen and (max-width: 900px) {
    .picture-show{
        width:100%;
    }
}

.mentoring-checkbox:checked{
    height: 25px;
    width: 25px;
}

.search-engine:disabled{
    background: #dddddd;
}

p:empty{
    background-color: plum;
    width: 100%;
    height: 10px;
}

input[id="login"]:enabled{
    background-color: #F0DCEC;
}

input[id="password"]:enabled{
    background-color: #F0DCEC;
}

input[id="login"]:focus{
    background-color: plum;
}

input[id="password"]:focus{
    background-color: plum;
}

hr:first-child{
    color: #F0DCEC;
}

hr:last-child{
    color: #F0DCEC;
}

p:last-of-type{
    color: #F0DCEC;
}

a:link {
    text-decoration-style: dashed;
}

:not(.top-artists h1){
    font-style: normal;
}

input:required {
    background-color: plum;
}

:target {
    border: 2px solid #aa0088;
}

a:visited {
    color: aquamarine;
}

div {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}