body {
    background-color: #1a1a1a;
    color: #e3dbe2;
    font-family: Verdana, sans-serif;
}

a {
    color: plum;
}

hr {
    color: #e3dbe2;
}

#logo {
    display: inline-block;
    width: 256px;
}

.login-box {
    float: right;
}

.button {
    margin: 10px 5px;
}

.small-gallery {
    display: flex;
    justify-content: space-between;
}

.gallery-element {
    width: 33%;
    height: 33%;
}

.centered-text {
    text-align: center;
}

.top-artists table {
    width: 100%;
    text-align: center;
    border: dashed;
}

.promotion {
    text-align: center;
    font-size: 25px;
    margin-top: 50px;
}

.bottom-footer {
    font-size: 10px;
}

.image-box {
    font-size: small;
}

.image-box img {
    width: 200px;
    height: 200px;
}

.description {
    margin-left: 5%;
    margin-right: 5%;
    display: inline-block;
}

.description-header {
    float: left;
    width: 45%;
    font-size: 230%;
    text-align: right;
    color: plum;
}

.functionality-list {
    float: left;
    font-size: 200%;
    margin-left: 5%;
    color: #e3dbe2;
}


.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1a1a1a;
}

.menu li {
    float: left;
}

.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu li a:hover {
    background-color: #aa0088;
}

.menu .active {
    background-color: #aa0088;
}

.picture-show {
    margin: 5px;
    border: 1px solid #aa0088;
    float: left;
    width: 32%;
}

.picture-show img {
    width: 100%;
    height: auto;
}

.picture-show .note {
    padding: 15px;
    text-align: center;
}
 mark{
     background-color: plum;
 }

 .sitemap {
     text-align: center;
     font-size: x-large;
 }

 .sitemap aside{
     font-size: xx-large;
 }