/* General */

body {
    background-color: #1a1a1a;
    color: #e3dbe2;
    font-family: "Open Sans", sans-serif;
    min-width: 900px;
    margin: 0
}

a {
    color: hsla(180, 100%, 50%, 0.5);
}

a:link {
    text-decoration-style: dashed;
}

a:visited {
    color: aquamarine;
}

hr {
    color: #e3dbe2;
}

hr:first-child {
    color: #F0DCEC;
}

hr:last-child {
    color: #F0DCEC;
}

h2 {
    text-shadow: 2px 2px rgba(170, 0, 136, 0.48);
}

mark {
    background-color: plum;
}

p:empty {
    background-color: plum;
    width: 100%;
    height: 10px;
}

p:last-of-type {
    color: #F0DCEC;
}

input:required {
    background-color: plum;
}

:target {
    border: 2px solid #aa0088;
}

.top-artists :not(h1) {
    font-style: normal;
}

/* Header */

.header {
    display: block;
}

#logo {
    display: inline-block;
    width: 256px;
}

.login-box {
    align-items: flex-end;
}

.header__container {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to right, rgba(26, 26, 26, 1), rgba(41, 23, 37, 1));
    padding-left: 10px;
    padding-right: 10px;
}

#header__menu ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    background-color: #1a1a1a;
}

#header__menu ul li {
    position: relative;
    margin: 0;
}

#header__menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
}

#header__menu ul ul ul {
    top: 0;
    left: 100%
}

#header__menu ul li:hover > ul {
    display: block;
}

#header__menu li {
    display: block;
    text-decoration: none;
}

#header__menu li a {
    display: flex;
    color: white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 50px;
}

#header__menu li:hover {
    background-color: #aa0088;
}

#header__menu {
    border-bottom: 1px solid white;
}

/* Main content */

.main-content {
    padding: 10px;
    display: block;
}

.button {
    margin: 10px 5px;
}

.small-gallery {
    display: flex;
    justify-content: space-between;
}

#gallery-element-1 {
    background: url("images/art1.jpg") center;
}

#gallery-element-2 {
    background: url("images/art2.jpg") center;
}

#gallery-element-3 {
    background: url("images/art3.jpg") center;
}

.small-gallery .gallery-element {
    opacity: 0.6;
    transition: all 0.25s ease-in;
    flex: 2 2;
    overflow: hidden;
    position: relative;
    background-size: 100%;
}

.small-gallery .gallery-element:hover {
    opacity: 1;
    flex: 5 5;
}

.small-gallery .gallery-element span {
    background: no-repeat;
    display: block;
    height: 300px;
}

.centered-text {
    text-align: center;
}

.top-artists table {
    width: 100%;
    text-align: center;
    border: groove;
    border-width: thick;
    border-color: #e3dbe2;
}

.promotion {
    text-align: center;
    font-size: 2em;
    margin-top: 50px;
}

.bottom-footer {
    font-size: 10px;
}

.image-box {
    font-size: small;
}

.image-box img {
    width: 200px;
    height: 200px;
}

.description {
    margin-left: 5%;
    margin-right: 5%;
    display: inline-block;
}

.description-header {
    float: left;
    width: 45%;
    font-size: 230%;
    text-align: right;
    color: plum;
}

.functionality-list {
    float: left;
    font-size: 200%;
    margin-left: 5%;
    color: #e3dbe2;
}

.picture-show {
    margin: 5px;
    border: 1px solid #aa0088;
    float: left;
    width: 32%;
    box-shadow: 0 0 10px #aa0088;
    background: radial-gradient(circle, rgba(26, 26, 26, 1), rgba(170, 0, 136, 0.2));
}

.picture-show img {
    width: 100%;
    height: auto;
}

.picture-show .note {
    padding: 15px;
    text-align: center;
}

.sitemap {
    text-align: center;
    font-size: 18pt;
}

.sitemap aside {
    font-size: xx-large;
}

.about-page .main-content {
    background-image: url("images/background-texture.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
    background-origin: content-box;
}

.contact-page .mail-to {
    background-image: url("images/smile.svg");
    background-position: right;
    background-repeat: no-repeat;
}

.top-artists h1 {
    position: static;
    line-height: 50px;
    font-variant: small-caps;
    font-weight: lighter;
}

.main-footer img {
    height: 25px;
    width: 25px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    border: transparent;
}

.main-footer {
    position: relative;
    bottom: 0;
}

a[id="register-link"] {
    text-decoration: none;
}

.mentoring-checkbox:checked {
    height: 25px;
    width: 25px;
}

.search-engine:disabled {
    background: #dddddd;
}

#github-banner {
    height: 150px;
    width: 150px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 0;
    right: 0;
}

#github-banner a {
    display: block;
    width: 190px;
    font-size: 14px;
    word-spacing: 2px;
    text-decoration: none;
    padding: 5px 15px 5px 25px;

    position: relative;
    left: 0;
    top: 170px;
    text-align: center;
    transform-origin: 0 0;
    transform: rotate(-45deg);
    box-shadow: 1px 1px 5px 1px #666666;
    background-color: #1a1a1a;
}

/* Rules */

@media only screen and (max-width: 900px) {
    .picture-show {
        width: 100%;
    }
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/u-WUoqrET9fUeobQW7jkRRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
